<pip-button-toggle-group>
    <mat-button-toggle-group>
        <mat-button-toggle fxFlex="fill" value="goal" style="text-align: center">
            Goal
        </mat-button-toggle>
        <mat-button-toggle fxFlex="fill" value="dream" style="text-align: center">
            Dream
        </mat-button-toggle>
        <mat-button-toggle fxFlex="fill" value="task" style="text-align: center">
            Task
        </mat-button-toggle>
        <mat-button-toggle fxFlex="fill" value="area" disabled style="text-align: center">
            Area
        </mat-button-toggle>
    </mat-button-toggle-group>
</pip-button-toggle-group>