<pip-action-list>
  <button mat-button class="pip-action-list-item">
      <mat-icon>home</mat-icon>
      <span class="pip-title">Home</span>
  </button>
</pip-action-list>

<pip-action-list style="margin-top: 8px">
  <button mat-button class="pip-action-list-item">
      <mat-icon>add</mat-icon>
      <span class="pip-title">Add</span>
  </button>

  <button mat-button class="pip-action-list-item">
      <mat-icon>delete</mat-icon>
      <span class="pip-title">Remove</span>
  </button>
</pip-action-list>

<pip-action-list style="margin-top: 8px">
  <button mat-button class="pip-action-list-item">
      <mat-icon>reply</mat-icon>
      <span class="pip-title">Reply</span>
  </button>

  <button mat-button class="pip-action-list-item">
      <mat-icon>forward</mat-icon>
      <span class="pip-title">Forward</span>
  </button>

  <button mat-button class="pip-action-list-item">
      <mat-icon>send</mat-icon>
      <span class="pip-title">Send</span>
  </button>
</pip-action-list>